<div class="action-bar">
  <div class="action-buttons">
    <button
      *ngFor="let action of actions"
      mat-raised-button
      [disabled]="!action.enabled"
      [matTooltip]="action.label"
      [class.primary-action]="action.id === 'upload' || action.id === 'create-directory'"
      [class.danger-action]="action.id === 'delete'"
      (click)="onActionClick(action.id)"
      class="action-button">
      <mat-icon>{{ action.icon }}</mat-icon>
      <span class="button-label">{{ action.label }}</span>
    </button>
  </div>
  
  <div class="selection-info" *ngIf="selectedItem">
    <mat-icon class="selection-icon">{{ selectedItem.type === 'file' ? 'description' : 'folder' }}</mat-icon>
    <span class="selection-text">{{ selectedItem.name }}</span>
  </div>
</div>